<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Primary"
     ThemeContrast="ThemeContrast.Light">
    <BarIcon IconName="customIcon" />
    <BarBrand>
        <BarItem>
            <BarLink To="">
                ИгроМир
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <SelectList TItem="string"
                            TValue="string"
                            TextField="@((item)=>item)"
                            SelectedValue="@curRole"
                            Data="@roles" />
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary">Регистрация</Button>
                <Button Color="Color.Success">Вход</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    RenderFragment customIcon =@<img src="/board-game.png" style="width:52px; height:52px" />;

    static List<string> roles = new List<string> { "Гость", "Игрок", "Организатор", "Администратор" };
    string curRole = roles.First();
}