@using BusinessLogic.Models

@inject BusinessLogic.Services.IUserService UserService

<Bar Breakpoint="Breakpoint.Desktop"
     Background="Background.Primary"
     ThemeContrast="ThemeContrast.Light">
    <BarIcon IconName="customIcon" />
    <BarBrand>
        <BarItem>
            <BarLink To="">
                ИгроМир
            </BarLink>
        </BarItem>
    </BarBrand>
    <BarToggler />
    <BarMenu>
        <BarStart>
            <BarItem>
                <SelectList TItem="User"
                            TValue="User"
                            TextField="@((item)=>item.Name)"
                            SelectedValue="@curUser"
                            Data="@users" />
            </BarItem>
            <BarItem>
                <BarLink To="/events" TextColor="TextColor.White">Игротеки</BarLink>
            </BarItem>
            <BarItem>
                <BarLink To="/games" TextColor="TextColor.White">Игры</BarLink>
            </BarItem>
        </BarStart>
        <BarEnd>
            <BarItem>
                <Button Color="Color.Primary">Регистрация</Button>
                <Button Color="Color.Success">Вход</Button>
            </BarItem>
        </BarEnd>
    </BarMenu>
</Bar>

@code {
    RenderFragment customIcon =@<img src="/board-game.png" style="width:52px; height:52px" /> ;

    List<User> users = new List<User>();
    User? curUser;

    protected override void OnInitialized()
    {
        for (int i = 1; i <= 4; ++i)
        {
            users.Add(UserService.GetUserByID(i) ?? new User("", ""));
        }
        curUser = users.First();
    }
}